#header-w{
	width:100%;
	background:#333231;
}
#header{
	width:1200px;
	height:70px;
	margin:0 auto;
}
#main-w{
	width:100%;
	background:#fdf8f4;
}
#main{
	width:1200px;
	height:780px;
	margin:0 auto;
	background:url(../img/regist/login_03.jpg);	
}
.login{
	width:310px;
	background:#fff;
	float:right;
	margin-top:150px;
	position:relative;
	padding:0 35px;
}
.login h2{
	margin-top: 10px;
	line-height: 70px;
	text-align: center;
	color: #FF0000;
}
.login .box{
	width:308px;
	height:50px;
	border:1px solid #ccc;	
	line-height: 50px;
}
.login .username{
	margin-bottom: 15px;
}
.login .zz{
	border:none;
	height:40px;
	margin-left:50px;
/*	outline: 0;*/
}


.regist .yaoqing,.rb{
	line-height: 40px;	
}
.rc,.rb{
	color:#999999;
}
.rb a{
	color:#999999;
}
.rc a{
	color:#FF0000;
}
.regist .yaoqing input,.rb input{
	position: relative;
	top:3px;
	margin-right:2px;
}
.regist .ra{
	width:308px;
	height:40px;
	background:#FF0000;
	text-align: center;
	line-height: 40px;
	margin-top: 10px;	
}
.regist .ra a{
	color: #fff;
	font-size: 18px;
}
.regist .rc{
	line-height: 70px;
	height:70px;
}
